# Visual Studio
.vs/
*.user
*.suo
*.aps

# Build output
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Build logs
*.log

# Local backup/archive files
*.rar
*.zip